@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  margin: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main{
  max-width: 1090px;
  width: 100%;
  margin: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.table{
  background-color: #fff;
  width: calc(33% - 20px);
  padding: 30px 30px;
  position: relative;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
  border-radius: 7px;
}
.regular{
  background-image: linear-gradient(to bottom right, #ff002b, white, white, white,white,white);
}
.vip{
  background-image: linear-gradient(to bottom right, #ffd700, white, white, white,white,white);
}
.vvip{
  background-image: linear-gradient(to bottom right, black, white, white, white,white,white);
}
li{
  margin-bottom: 15px;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.list{
  font-size: 17px;
  font-weight: 400;
}
.icon{
  font-size: 20px;
}
.icon.check{
  color: #2db94d;
}
.icon.cross{
  color: #cd3241;
}
.btn{
  display: flex;
  justify-content: center;
  
}
.btn button{
  background-color: white;
  border: none;
  color: black;
  font-size: 20px;
  font-weight: 500;
  outline: none;
  height: 45px;
  border-radius: 25px;
  cursor: pointer;
  width: 70%;
}
.regular .btn button{
  background-color: #ff002b;
  color: white;
}
.vip .btn button{
  background-color: #ffd700;
  color: white;
}
.vvip .btn button{
  background-color: black;
  color: white;
}

@media (max-width: 1020px) {
  .table{
    width: calc(50% - 20px);
    margin-bottom: 60px;
    margin-left: 5%;
    margin-right: 5%;
  }
}
@media (max-width: 698px) {
  .table{
    width: 100%;
  }
}
.package-name{
  height: 2px;
  position: relative;
  margin: 60px 0;
}
.regular .package-name{
  background-color: #ff002b;
}
.vip .package-name{
  background-color: #ffd700;
}
.vvip .package-name{
  background-color: black;
}
.package-name::before{
  position: absolute;
  font-size: 24px;
  left: 50%;
  top: 50%;
  right: auto;
  transform: translate(-50%,-50%);
  background-color: #fff;
  text-align: center; 
  width: 40%
}
.regular .package-name::before{
  content: "Semeru (Regular)";
}
.vip .package-name::before{
  content: "Bromo (VIP)";
}
.vvip .package-name::before{
  content: "Rinjani (VVIP)";
}
.footer{
  width: 100%;
  text-align: center;
  background-color: #24262b;
  padding: 20px 0;
  color: #fff;
}
